POSTGRES_DB=instatasks_production
POSTGRES_PASSWORD=postgrespass
POSTGRES_USER=dbuser

REDIS_LOGLEVEL=warning
REDIS_MAXMEM=1500mb
REDIS_POLICY=volatile-lfu
REDIS_APPENDONLY=no
REDIS_DATABASES=3
REDIS_PASSWORD=mysecretredispassword
