APP_ENV=development

SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=password

AES_PASSPHRASE=passphrase

PORT=8080

POSTGRES_DB=instatasks_production
POSTGRES_PASSWORD=password
POSTGRES_USER=dbuser

REDIS_PASSWORD=mysecretredispassword
